@import url(home.css);
@import url(font-awesome.min.css);
@import url(page.css);
@import url(bsover.css);
@import url(hover.css);
@import url(scrolltop.css);

body{
  font-family: 'latoregular', sans-serif;
  color: #666;
}

h1, h2, h3, h4, h5 {
  font-family: 'latobold', sans-serif;
}

p {
  font-weight: 300;
}

a {
    color: #666;
}

#footer{
  background: #666;
  padding: 60px 0;
  text-align: center;
  color: #fff;
  margin-top: 100px;
}

#footer p, #footer a{
    color: #fff;
}

@font-face {
    font-family: 'latobold';
    src: url(../fonts/lato-bol-webfont.eot);
    src: url(../fonts/lato-bol-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/lato-bol-webfont.woff) format('woff'),
         url(../fonts/lato-bol-webfont.ttf) format('truetype'),
         url(../fonts/lato-bol-webfont.svg#latobold) format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latobold_italic';
    src: url(../fonts/lato-bolita-webfont.eot);
    src: url(../fonts/lato-bolita-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/lato-bolita-webfont.woff) format('woff'),
         url(../fonts/lato-bolita-webfont.ttf) format('truetype'),
         url(../fonts/lato-bolita-webfont.svg#latobold_italic) format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latolight';
    src: url(../fonts/lato-lig-webfont.eot);
    src: url(../fonts/lato-lig-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/lato-lig-webfont.woff) format('woff'),
         url(../fonts/lato-lig-webfont.ttf) format('truetype'),
         url(../fonts/lato-lig-webfont.svg#latolight) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latolight_italic';
    src: url(../fonts/lato-ligita-webfont.eot);
    src: url(../fonts/lato-ligita-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/lato-ligita-webfont.woff) format('woff'),
         url(../fonts/lato-ligita-webfont.ttf) format('truetype'),
         url(../fonts/lato-ligita-webfont.svg#latolight_italic) format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoitalic';
    src: url(../fonts/lato-regita-webfont.eot);
    src: url(../fonts/lato-regita-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/lato-regita-webfont.woff) format('woff'),
         url(../fonts/lato-regita-webfont.ttf) format('truetype'),
         url(../fonts/lato-regita-webfont.svg#latoitalic) format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoregular';
    src: url(../fonts/lato-reg-webfont.eot);
    src: url(../fonts/lato-reg-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/lato-reg-webfont.woff) format('woff'),
         url(../fonts/lato-reg-webfont.ttf) format('truetype'),
         url(../fonts/lato-reg-webfont.svg#latoregular) format('svg');
    font-weight: normal;
    font-style: normal;

}

.nav{
    background: transparent;
    margin-top: 10px;
    margin-left: -20px;
}

.nav a{
    color: #666;
    padding-top: 57px;
    font-family: 'latolight';
}

.nav ul{
margin: 0;
padding: 0;

}

.nav li{
  display: inline-block;
  list-style-type: none;
  padding: 10px 20px;
}

.nav a:hover{
  border-top: 5px solid #ff9800;
  text-decoration: none;

}