.details {
  margin-top: 100px;
  padding: 30px 0px 0px 0;
  color: #666; 
  background: #fff;
  background-size: cover; 
}

.details p{
 font-weight: 300;
}

#page{
  padding: 0 0px;
  text-align: center;
}

.work img{
  margin: 30px auto;
  padding: 0 0 30px;
  border-bottom: 1px solid #ccc;

}

/*.page-skills{
  font-style: italic;
}*/

.other-projects{
  margin-bottom: 180px;
}

.visit{
  margin-top: 25px;
}


.pull-quote{
  border-left: 2px solid #ff9800;
  font-size: 28px;
  text-align: left; 

  padding-left: 50px;
  margin: 50px 0;
}

.pull-quote p{
  margin-top: 10px;
  font-size: 18px;
  font-weight: 300;
}