#toTop {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 64px;
    color: #ff9800;
    height: 64px;
    text-align: center;
    font-size: 28px;
    opacity: 0.8;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    border-bottom: 5px solid #ff9800;
}
#toTop:hover {
    opacity: 1.0;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}